<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Ipsum Blog</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
	<div class="page-header col-md-12 col-xs-12">
		<div class="row">
			<div class="col-md-10 col-xs-10">
				<h1><a href="/">Ipsum Blog</a></h1>
			</div>
			<div class="col-md-2 col-xs-2">
				<a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" title="New Post"></span></a>
			</div>
		</div>
		
	</div>

	<div class="content container">
		<div class="row">
			<div class="col-md-10 col-xs-10 post">
				{% block content %}
				{% endblock %}
			</div>
			<div class="col-md-2 col-xs-2 generators hidden-xs">
				<h4>Ipsum Generators</h4>
				<div class="row">
					<h5>Samuel L. Jackson</h5>
					<a href="http://slipsum.com/" target="_blank"><img src="{% static 'img/Samuel_L._Jackson_Pulp_fiction_2.png' %}" class="img-responsive center-block"></a>
				</div>
				<div class="row">
					<h5>Bacon</h5>
					<a href="http://baconipsum.com/" target="_blank"><img src="{% static 'img/bacon.png' %}" class="img-responsive center-block"></a>
				</div>
				<div class="row">
					<h5>Hodor</h5>
					<a href="http://hodoripsum.com/" target="_blank"><img src="{% static 'img/hodor.png' %}" class="img-responsive center-block"></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>